:root {
    --color-day-name-bg: rgb(132, 201, 247);
    --color-day-bg: lightgrey;
    --color-day-weekend-bg: rgb(168, 199, 170);
    --color-selector-bg-hover: gold;
}

$namespace: "dp";


.#{$namespace}__views {
    overflow: hidden;
    position: relative;
    width: 188px;

    header {
        line-height: 2em;
    }
}

.#{$namespace}__months-view,
.#{$namespace}__years-view {
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform .5s cubic-bezier(0.47, 0, 0.745, 0.715);


    &.hide-me {
        transform: scale(10);
        opacity: 0;
        display: none;
    }
}

.#{$namespace}__days-view {
    // position: relative;
}

.#{$namespace}__months-view {
    // position: relative;
}

.#{$namespace}__years-view {
    // position: relative;
}

.#{$namespace} {
    box-shadow: 0 0 10px 4px lightgrey;
    border-radius: 5px;
    display: inline-block;

    table {
        border-collapse: collapse;
        text-align: center;
        height: 100%;
        width: 100%;
    }
    
    td,
    th {
        padding: .1em .2em;
        text-align: center;
    }
}

.#{$namespace}__button_row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    >button {
        flex-grow: 1;
    }
}

.#{$namespace}__button {
    border: 0 none;
    cursor: pointer;
    display: inline-block;

    &:hover {
        background-color: rgb(211, 211, 211);
    }
}

.#{$namespace}__day-name {
    background-color: var(--color-day-name-bg);
}

.#{$namespace}__day {
    background-color: var(--color-day-bg);
    cursor: pointer;
}

.#{$namespace}__day:hover {
    background-color: var(--color-selector-bg-hover);
}

.#{$namespace}__weekend-day {
    background-color: var(--color-day-weekend-bg);
}